/* TABLET VIEW */
@media only screen and (max-width:992px) {
    section {
        padding: 0px 20px;
    }

    .container {
        width: 100%;
        max-width: 960px;
        text-align: left;
        margin: 0px auto;
        padding:20px 0px;
    }

    .image img {
        border-radius: 50px;
        width: 80%;
    }

    .left,
    .right {
        width: 100%
    }

    .side-by-side {
        gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.75em;
    }

    ul li{
        list-style: none;
        font-size: 14px;
        justify-content: space-around;
    }
        a:hover{
    color: rgb(99, 200, 255);
    }
    
    nav{
        position:absolute;
    background-color: white;
    margin-top:-20px;   
    margin-left:10px;         
    background-color: rgba(255, 255, 255, .8);
    width:100%;

    }

    div p {
        font-size: 17px;
    }

    .classlist {
        display: none;
    }



    .burger {

        width: 50px;
        height: 50px;
        display:block
        style= "display:none;"
    }

    .burger svg {
        width: 100%;
        display: block;
    }
}


/* MOBILE VIEW */
@media only screen and (max-width: 760px){

    section {
        padding: 0px 20px;
    }

    .container {
        width: 100%;
        max-width: 960px;
        text-align: left;
        margin: 0px auto;
        padding:20px 0px;
    }

    .image img {
        border-radius: 50px;
        width: 80%;
    }

    .left,
    .right {
        width: 100%
    }

    .side-by-side {
        gap: 40px;
        display: flex;
        padding: 0px, 30px;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }

    h1 {
        font-size: 3em;

    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

 

    ul li{
        list-style: none;
        font-size: 14px;
        list-style:none;
        margin-top:0px;
    }
.navbar{
    position:absolute;
    background-color: white;
    margin-top:-20px;   
    margin-left:10px;         
    background-color: rgba(255, 255, 255, .8);
    width:100%;


}
    div p {
        font-size: 16px;
        padding: 0px, 10px;
    }

    .classlist {
        display: none;
        margin-top:0px;
    }


    .burger img {
        width: 100%;
        display: block;
    }

    .socialsandcontact {
    display: flex; flex-direction: column;
    gap:10px;
    justify-content: space-around;
    text-align: left;
    justify-content:flex-start;
    
}
.availabiltiy {
    padding: 20px 0px;
}
}
/* hello */