/* CSS GOES HERE */
/* hi eveyrone */
html {
    font-family: Arial, Helvetica, sans-serif!important;
}
body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a[href="about.html"] {
    font-weight: bold; }


    div#wrapper {

        background:coral;
    }

    div.text-wrapper{
    font-family: Georgia, 'Times New Roman', Times, serif;}


div p{
font-size:18px;
}
ol li {font-weight:bold;}



section {
    padding: 60px 20px;
}
section:nth-child(even) {
    background-color: #f2f2f2;
}
.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}
h1 {
    font-size: 3em;
}
section .gallery {
    width: 100%;
}
section .gallery img {
    width: 32%;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}