/* CSS GOES HERE */
/* hi eveyrone */
html {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    margin: 0;
    padding: 20;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a[href="about.html"] {
    font-weight: bold;
}

div.text-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


div p {
    font-size: 18px;
}

ol li {
    font-weight: bold;
    font-size:14px;
}



section {
    padding: 60px 10px;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

section .gallery {
    width: 100%;
}

section .gallery img {
    width: 32%;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.header{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  rgb(4, 63, 131);
}
.headerhome {
    background-color: rgb(4, 63, 131);
    color: white;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1px;

}

.header2{
    color: rgb(0, 0, 0);
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    gap: 1px;
}

.classlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}

.side-by-side{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flexstart;

}

    
  