/* CSS GOES HERE */
/* hi eveyrone */
html {
    font-family: Arial, Helvetica, sans-serif !important;
    :root{
        --primary-bg-color: #000000
        --primary-color:#111111
    }
}

body {
    margin: 0;
    border: 0;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a[href="about.html"] {
    font-weight: bold;
     font-size: 2em;

}

a[href="index.html"] {
    font-weight: bold;
     font-size: 2em;

}

div.text-wrapper {
    font-family: Arial, Helvetica, sans-serif;
}


div p {
    font-size: 18px;

}

ol li {
    list-style: none;
    font-weight: bold;
    font-size:16px;
}


.aboutpage a:hover{
    color: rgb(99, 200, 255);
    Transform: scale (1.25);
}
   
.returnhome a:hover{
    color: rgb(99, 200, 255);
    Transform: scale (1.25);
}


section {
    padding: 70px 30px;
}

section:nth-child(even) {
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    text-align: left;
    margin: 0 auto;
}




h1 {
  font-size: 5em;
    margin:0px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.image img {
border-radius: 70px;
width:100%;
}

.headshotimage img {
border-radius: 50px;
width:100%;
justify-content: left;
}

.left,.right{
    width:50%

}



footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.header{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  rgb(4, 63, 131);
}
.headerhome {
      background-color:  rgb(4, 63, 131);
    color: white;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1px;

}

.header2{
    color: rgb(0, 0, 0);
    text-align: left;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 gap: 10px;
}

.classlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    list-style: none;
    a:hover{
    color: rgb(99, 200, 255);
    Transform: scale (1.25);}
}
.classlistmenu{
    display:none;
}

.side-by-side{
    gap:40px;
    display:flex;
    flex-direction: row;
    padding:0px,30px;
    justify-content:flex-start;
}
.socialsandcontact {
    display: flex; flex-direction: row; gap: 0px;
    gap:40px;
    justify-content: space-around;
    text-align: left;
    justify-content:flex-start;

}

    .burger{

width: 50px;
  height: 50px;
}

.burger img {
    width: 100%;
    display:none;
}


  